:root {
    --nord0: #2E3440;
    --nord1: #3B4252;
    --nord2: #434C5E;
    --nord3: #4C566A;
    --nord4: #D8DEE9;
    --nord5: #E5E9F0;
    --nord6: #ECEFF4;
    --nord7: #8FBCBB;
    --nord8: #88C0D0;
    --nord9: #81A1C1;
    --nord10: #5E81AC;
    --nord11: #BF616A;
    --nord12: #D08770;
    --nord13: #EBCB8B;
    --nord14: #A3BE8C;
    --nord15: #B48EAD;
}

.text-nord-snow-3 { color: var(--nord6); }
.text-nord-snow-2 { color: var(--nord5); }
.text-nord-frost-2 { color: var(--nord8); }
.bg-nord-0 { background-color: var(--nord0); }
.bg-nord-1 { background-color: var(--nord1); }
